<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1055271159689-9377u18vebp9skrkttjn7v5196gk61ct</string>
			</array>
		</dict>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>14.5.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>LufgaMedium.ttf</string>
		<string>LufgaRegular.ttf</string>
		<string>HelveticaNeueMedium.otf</string>
	</array>
</dict>
</plist>
